#about_section {
    background-color: #111827;
    color: #9CA3AF;
}

.about_container {
    width: 100%;
    display: flex;
    padding: 5rem 2.5rem;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.about_infotext {
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    margin-left: 2em;
    margin-right:2em
}

.about_title {
    margin-bottom: 1rem;
    color: #ffffff;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 500;
}

.about_break {
    display: none;
}

.about_info {
    margin-bottom: 2rem;
    line-height: 1.625;
}

.about_contactme {
    display: flex;
    justify-content: center;
}

.about_contact {
    display: inline-flex;
    padding: 0.5rem 1.5rem;
    background-color: #10B981;
    color: #ffffff;
    font-size: 1.125rem;
    line-height: 1.75rem;
    border-radius: 0.25rem;
    border-width: 0;
}

.about_contact:hover {
    background-color: #059669;
}

.about_projects {
    display: inline-flex;
    padding: 0.5rem 1.5rem;
    margin-left: 1rem;
    background-color: #1F2937;
    color: #9CA3AF;
    font-size: 1.125rem;
    line-height: 1.75rem;
    border-radius: 0.25rem;
    border-width: 0;
}

.about_projects:hover {
    background-color: #374151;
    color: #ffffff;
}

.about_imgcontainer {
    width: 83.333333%;
    overflow: hidden;
}

.about_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    border-radius: 0.25rem;
}

@media screen and (max-width: 320px) {
    .about_container {
        padding: 2em 0;
    }
}

/* blue */
@media screen and (min-width: 321px) and (max-width: 480px) {
    .about_title {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
}

/* green */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .about_infotext {
        margin-bottom: 0;
        text-align: left;
        align-items: flex-start;
        width: 80%;
    }
}

/* yellow */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .about_title {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
    .about_container {
        flex-direction: column;
    }

    .about_infotext {
        padding-right: 4rem;
    }

    .about_imgcontainer {
        width: 50%;
    }
}

/* orange */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .about_infotext {
        padding-right: 6rem;
        flex-grow: 1;
    }

    .about_container {
        flex-direction: row;
    }

    .about_break {
        display: inline-block;
    }

    .about_imgcontainer {
        width: 100%;
        max-width: 32rem;
    }
}

/* red */
@media screen and (min-width: 1201px) {
    .about_container {
        flex-direction: row;
        display: flex;
        align-items: left;
        justify-content: left;;
    }
    .about_infotext {
       
    }
}