/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.page_screenWidth {
  
    display: flex;
    align-items: center;
    justify-content: center;
}

.SectionContainer {
  border: 1px solid cyan;
  overflow:none;
}
 */






