#contact_section {
    position: relative;
    background-color: #111827;
    color: #9CA3AF;
    min-height: 100vh;
}

.contact_container {
    margin-top: -800px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 2.25rem;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    height: fit-content;
}

.contact_map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    position: relative;
    background-color: #111827;
    flex-wrap: wrap;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    height: auto;
    width: 40%;
    padding: 0;
}

.contact_address {
    padding: 0;
    margin-bottom: 1em;
}

.contact_contactInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.5rem;
    margin: 0;
    width: 100%;
    margin-bottom: -5rem;
    background-color: #111827;
    opacity: 0.6;
}

.contact_emailPhone {
}

.contact_email {
    font-size: 0.8em;
    color: #818CF8;
    line-height: 1.625;
}

.contact_phone {
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.contact_form {
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    width: 100%;
}

.contact_form > h2 {
    margin-bottom: 0.25rem;
    color: #ffffff;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 500;
}

.contact_inputName,
.contact_inputEmail,
.contact_msgInput {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: #1F2937;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: #F3F4F6;
    font-size: 1rem;
    line-height: 1.5rem;
    line-height: 2rem;
    width: 100%;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: #374151;
    outline: 0;
}

.contact_msgInput {
    height: 8rem;
    line-height: 1.5rem;
    resize: none;
}

.contact_submit {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: #6366F1;
    color: #ffffff;
    font-size: 1.125rem;
    line-height: 1.75rem;
    border-radius: 0.25rem;
    border-width: 0;
}

.contact_submit:hover {
    background-color: #4F46E5;
}

/* Media Queries Template */

@media screen and  (max-width: 768px) {
    #contact_section {
        height: auto;
    }

    .contact_container {
        margin-top: 300px;
        font-size: 0.7em;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .contact_contactInfo {
        margin-bottom: 0;
        width: 100%;
        height: auto;
        opacity: 0.6;
    }

    .contact_emailPhone {
        margin-top: 8px;
    }

    .contact_email {
        font-size: 0.9em;
        color: #818CF8;
        line-height: 1.625;
    }

    .contact_address {
        height: 100%;
    }

    .contact_phone {
        font-size: 0.7em;
        margin-top: 1rem;
        color: #ffffff;
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 600;
        letter-spacing: 0.1em;
        top: 0;
        left: 0;
    }

    .contact_map {
        position: relative;
        width: 100%;
        margin-bottom: 1rem;
    }

    .contact_contactInfo {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        opacity: 0.6;
    }

    .contact_form {
        width: 100%;
        margin: 0 auto;
    }

    #contact_section {
        height: 1200px;
    }
}

@media screen and  (max-width: 1100px) {
    .contact_container {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact_address {
        margin-top: 0.5rem;
        width: auto;
    }

    .contact_contactInfo {
        width: auto;
    }

    .contact_form {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .contact_map {
        width: 80%;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and  (max-width: 500px) {
    .contact_map {
        display: inline;
        align-items: center;
        justify-content: center;
        width: 80vw;
    }

    .contact_address {
        margin-top: 0.5rem;
    }

    .contact_contactInfo {
        width: 400px;
        margin-top: 0.5rem;
        opacity: 0.6;
    }
}

@media screen and  (max-width: 440px) {
    #contact_section {
        margin-top: 500px;
    }
    .contact_map {
        padding-top: 200px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        width: 80vw;
    }
    .contact_container {
        display: inline-block;
    }
    .contact_address {
        width: 300px;
    }

    .contact_contactInfo {
        top: auto;
        left: auto;
        bottom: 0;
        right: 0;
        margin-left: 0;
        width: 300px;
        height: auto;
        opacity: 0.6;
    }
}

@media screen and  (min-width: 1024px) {
    .contact_contactInfo {
        margin-bottom: 0;
        width: 50%;
        height: auto;
    }

    .contact_form {
        width: 50%;
    }
}

@media screen and  (min-width: 768px) and (max-width: 1023px) {
    .contact_form {
        width: 50%;
    }

    .contact_contactInfo {
        margin-bottom: 0;
        width: 50%;
        height: auto;
    }
}

@media screen and  (min-width: 640px) {
    .contact_form > h2 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
    #contact_section {
        height: 1200px;
    }
}

@media screen and  (max-width: 640px) and (min-width: 500px) {
    .contact_contactInfo {
        width: 100%;
        height: auto;
        opacity: 0.6;
    }
    .contact_map {
        height: 600px;
    }
}

@media screen and  (max-width: 1000px) and (min-width: 768px) {
    .contact_contactInfo {
        width: 100%;
        height: auto;
        opacity: 0.6;
    }
    .contact_map {
        height: 600px;
    }
    #contact_section {
        margin-top: 500px;
    }
}

@media screen and  (min-width: 1000px) {
    .contact_container{
        margin-top: 0;
    }
    .contact_contactInfo {
        width: 100%;
        height: auto;
        opacity: 0.6;
    }
    .contact_map {
        height: 600px;
    }
    #contact_section {
        margin-top: 500px;
    }
}

@media screen and  (min-width: 320px) {
    .contact_map {
        padding-top: 0;
        display: inline-block;
        overflow: none;
    }

    .contact_contactInfo {
        opacity: 0.6;
        height: 200px;
    }
}

@media screen and  (max-width: 1100px) {
    .contact_map {
        height: 400px;
    }
}

.contact_nameLabel {
    color: #9CA3AF;
    font-size: 0.875rem;
    line-height: 1.25rem;
    line-height: 1.75rem;
}

.contact_emailLabel {
    color: #9CA3AF;
    font-size: 0.875rem;
    line-height: 1.25rem;
    line-height: 1.75rem;
}

.contact_msgLabel {
    color: #9CA3AF;
    font-size: 0.875rem;
    line-height: 1.25rem;
    line-height: 1.75rem;
}
