#testi_section {
    background-color: #111827;
    color: #9CA3AF;
    height: 1200px;
    /* overflow: none; */
}

.testi_container {
    width: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex-box;
    align-items: center;
    justify-content: center;
    height:40em;
}

.testi_container>svg {
    display: inline-block;
    margin-bottom: 1rem;
    width: 2.5rem;
    color: white;
    
}

.testi_iconContainer {
    width: 200px;
    color: white;
    
}

.testi_iconContainer>h1 {
    display: inline;
    margin-bottom: 3rem;
    color: white;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 500;
}

@media (min-width: 640px) {
    .testi_iconContainer>h1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}

.testi_gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    flex-wrap: wrap;
    height: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

.testi_clients {
    border-radius: 4px;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 2rem;
    margin: 1rem;
    width: max-content;
    max-width: 30%;
    align-items: center;
    height: auto;
}

@media (min-width: 768px) {
    .testi_clients {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .testi_gallery {
        width: 80vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .testi_clients {


        flex-direction: column;
        background-color: #1F2937;
    
        max-width: 100%; /* Add this line */

      }
}


.testi_clientsIcon {
    margin-left: 0;
    display: inline-block;
    margin-bottom: 1rem;
    width: 3rem;
    color: white;
}

/* .testi_clientsIcon {
    display: block;
    margin-bottom: 1rem;
    color: #6B7280;
    width: 2rem;
} */

.testi_clientsIcon > p {
    font-size: small;
    word-wrap: break-word;
    margin-bottom: 1.5rem;
    line-height: 1.625;
    width: 60%; /* Adjust this line */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em; /* Add this line */
    box-sizing: border-box; /* Add this line */
}


.testi_portrait {
    margin-top: 3em;
    display: inline-flex;
    align-items: center;
}

.testi_image {
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
    width: 3rem;
    border-radius: 9999px;
}

.testi_nameContainer {
    display: flex;
    padding-left: 1rem;
    flex-direction: column;
    flex-grow: 1;
}

.testi_name {
    color: #ffffff;
    font-weight: 500;
}

.testi_company {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
}